<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="navbar">
        <img class="logo" src="{{ url_for('static', filename='big-data.png') }}"><img/>
        <nav class="nav">
            <ul>
                <li><a href="{{ url_for('portfolio.index') }}">Inicio</a></li>
                <li><a href="#about">Sobre Mí</a></li>
                <li><a href="#portafolio">Portafolio</a></li>
                <li><a href="#contacto">Contacto</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>