<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../static/logo_black.png">
    <title>Vicente Gamez - Full Stack Developer</title>
</head>
<body>
    <!-- Barra de navegacion -->
    <header class="navbar">
        <img class="logo" src="{{ url_for('static', filename='logo.PNG') }}" width="170px" height="50px"><img/>
        <nav class="nav">
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#about">Sobre Mí</a></li>
                <li><a href="#portafolio">Portafolio</a></li>
                <li><a href="#contacto">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <!-- Introduccion a pagina -->
    <div class="container">
        <div class="hero white-bg">
            <div class="hero-content">
                <div class="left scroll-baner">
                    <h1><em>Vicente Gámez</em></h1>
                    <h2><em>Full Stack Developer</em></h2>
                    <p>
                        Holaaaa! 👋 Bienvenido a mi portafolio web. <br>
                        Aprecio mucho que estes aquí, ya que para mí es un honor poder mostrarte esta aplicación que trato de innovar cada día. 🧑‍💻<br>
                        Por eso invito a que revises la sección <a class="orange" href="#">sobre mí</a> para poder contarte de las tecnologías y lenguajes que domino, además de mostrarte algunos de mis proyectos. 😉
                    </p>
                    <a href="#" class="btn">Contáctame</a>
                </div>
                <div class="right scroll-img">
                    <img src="{{ url_for('static', filename='big-data.png') }}" alt="" width="600px">
                </div>
            </div>
        </div>
    </div>

    <!-- Sobre el autor -->
    <div id="about" class="center">
        <div class="content">
            <div class="row vert-pad">
                <div class="left padded">
                    <h1 id="about"><em>Sobre Mí</em></h1>
                </div>
                <div class="right padded">
                    <p>
                        Mi nombre es Vicente Antonio Gámez Díaz, soy originario de México, de San Luis Potosí. 🇲🇽🧑<br> 
                        Hasta el momento no he tenido la oportunidad de tener un empleo como desarrollador, sin embargo, constantemente me encuentro aprendiendo nuevas tecnologías y desarrollando aplicaciones, 
                        buscando mejorar mis habilidades en Python, JavaScript, HTML, CSS y MySql. 📓 <br> Esta web la construí desde cero utilizando Python 🐍 y Flask, después de haber realizado un par de proyectos
                        que estoy ansioso de compartir contigo en mi sección de <a href="#portafolio" class="orange">portafolio.</a> 👜<br>
                        Te recuerdo que estoy a tus ordenes y que estoy muy emocionado y ansioso por conocer más de este mundo tecnológico. Así que:
                    </p>
                    <h1><strong>¡Podemos conversar de lo que quieras!</strong></h1>
                    <p>Solo enviame un correo haciendo click <a class="orange" href="#contacto">aquí</a>. 📥</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Proyectos -->
    <div id="portafolio" class="center padded white-bg">
        <div class="padded">
            <div class="padded">
                <h1 id="h1"><em>¿Aún no te sientes convencido? Mira lo que he construido!</em></h1>
            </div>
            <div class="row">
                <div class="project">
                    <img src="../static/projects/project-1.jpg" alt="">
                </div>
                <div class="project">
                    <img src="../static/projects/project-2.jpg" alt="">
                </div>
                <div class="project">
                    <img src="../static/projects/project-3.jpg" alt="">
                </div>
            </div>
            <div class="row">
                <div class="project">
                    <img src="../static/projects/project-4.jpg" alt="">
                </div>
                <div class="project">
                    <img src="../static/projects/project-5.jpg" alt="">
                </div>
                <div class="project">
                    <img src="../static/projects/project-6.jpg" alt="">
                </div>
            </div>
            <button class="project-hide-btn">X</button>
        </div>
    </div>
    <img src="../static/projects/project-1-big.jpg" style="display: none;">
    <img src="../static/projects/project-2-big.jpg" style="display: none;">
    <img src="../static/projects/project-3-big.jpg" style="display: none;">
    <img src="../static/projects/project-4-big.jpg" style="display: none;">
    <img src="../static/projects/project-5-big.jpg" style="display: none;">
    <img src="../static/projects/project-6-big.jpg" style="display: none;">
</body>
</html>